name: portifolio_web
description: "Portifolio Daniel Pacheco Ferreira."

publish_to: 'none' 
version: 1.0.0+1

environment:
  sdk: ^3.10.0-127.0.dev

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  google_fonts: ^6.3.2
  gap: ^3.0.1
  url_launcher: ^6.3.2
  web: ^1.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0


flutter:
  uses-material-design: true

  assets:
    - assets/
